[server]
init_file = /tmp/init_substituted.sql

[mysqld]
#user                    = mysql
#socket                  = /run/mysqld/mysqld.sock
port = 3306				# サーバがポート3306でリッスンする
bind-address = 0.0.0.0	# サーバがすべてのIPアドレスから接続を受け入れる
